.overlay{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    visibility: hidden;
    opacity: 0;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    padding: 40px;
    background-color: #f2f2f2;
    &__close{
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 50px;
        line-height: 20px;
        color: red;
        cursor: pointer;
    }
    &__title{
        text-align: center;
    }
    &__subtitle{
        margin-top: 25px;
    }
}