.price{
    margin-top: 60px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(45px, auto));
        grid-auto-rows: 45px;
        gap: 15px 300px;
    }
    &__item{
        padding-left: 25px;
        &-head{
            position: relative;
            display: flex;
            justify-content: space-between;
            @include before_circle;
            &:before{
                width: 15px;
                height: 15px;
                top: 3px;
                left: -25px;
            }
        }
        &-cost{
            font-size: 14px;
            font-weight: bold;
        }
        &-body{
            font-size: 12px;
            font-weight: 500;
        }
    }
}